html, body{
    margin: 0;
    padding: 0;
    height: 100dvh;
    width: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    user-select: none;
    overscroll-behavior: none;
    -webkit-touch-callout: none;
}

.setting {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
    margin: 0;
}

#count {
    padding: 0;
    margin: 0;
    height: 21px;
    vertical-align: middle;
    resize: none;
}

.game, #canvas {
    height: 100%;
    width: 100%;
}

#canvas,
#hud-canvas {
    touch-action: none;
    -ms-touch-action: none;
    user-select: none;
    -webkit-user-select: none;
}

input {
    white-space: nowrap;
}