html, body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    font-family: Arial, sans-serif;
    user-select: none;
}

.setting {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    gap: 10px;
    margin: 0;
}

#count {
    padding: 0;
    padding-top: 4px;
    padding-left: 5px;
    margin: 0;
    height: 21px;
    vertical-align: middle;
    resize: none;
}

.game, #canvas {
    height: 100%;
    width: 100%;
}